p, ul, ol, li, blockquote, td, body, table, h1, h5, dl, dt, dd, .sansserif, th
{
    font-family: verdana,helvetica,sans-serif;
}

p, ul, ol, li, pre, blockquote, td, body, table, code, textarea, dl, .fontnormal
{
    font-size: 11px;
}

th
{
    font-size: 12px;
}

.noindent { text-indent: 0em; }
.indent   { text-indent: 2em; }

pre, code, textarea
{
    font-family: "lucida console", "courier new", monotype;
}

ol
{
    list-style-type: lower-roman;
}

.loweralpha
{
    list-style-type: lower-alpha;
}

.smallcaps
{
    font-variant: small-caps;
}

huge, .huge { font-size: 20mm; }

.textarea-cool
{
    background: #222222;
    color:      #FFFFFF;
    scrollbar-base-color:  #330000;
    scrollbar-arrow-color: #999999;
    padding-left:    1em;
    padding-top:    1em;
}

.title
{
    color: #FF0000;
}

.quote
{
    color: #4499CC;
}

.darktransbox
{
  color: #FF0000;
  background-image: url(http://escapewindow.com/img/bg-darken.gif);
  border: thin #330000 solid;
}

strike
{
  text-decoration: line-through;
}
